<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Kido'sWorld</title>
    <!------------------------------fontawesome link------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!------------------------------google font link-------------------->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet">
    <!------------------------------css link---------------------------->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!------------------------------bootstarp linl----------------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>

    {{>nav}}
    
      <!-----------------------------------skill--------------------------------->
      <section id="skill">
        <div class="container py-5 align-items-center">
          <h1 class="hr text-center" data-aos="fade-down">skills</h1>
          <div class="row">
            <div class="col-lg-6 my-5" data-aos="fade-right">
              <h3 class="ddr">Profesional Skills</h3>
              <div class="pg-bar">
                <div class="progress my-3" style="height: 20px;">
                  <div class="progress-bar" role="progressbar" style="width: 100%; background-color: #e34c26 ;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> HTML 100%</div>
                </div>
                <div class="progress mb-3" style="height: 20px;">
                  <div class="progress-bar " role="progressbar" style="width: 80%; background-color: #264de4;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">CSS3 80%</div>
                </div>
                <div class="progress mb-3 " style="height: 20px;">
                  <div class="progress-bar " role="progressbar" style="width: 90%; background-color:  #563d7c ;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Bootstrap 90%</div>
                </div>
                <div class="progress mb-3" style="height: 20px;">
                  <div class="progress-bar " role="progressbar" style="width: 70%; background-color: #f0db4f;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">JavaScript 70%</div>
                </div>
                <div class="progress mb-3 " style="height: 20px;">
                  <div class="progress-bar " role="progressbar" style="width: 75%; background-color:#61DBFB;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">React 75%</div>
                </div>
                <div class="progress mb-3" style="height: 20px;">
                  <div class="progress-bar " role="progressbar" style="width: 70%; background-color: #3c873a;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Node 70%</div>
                </div>
                <div class="progress mb-3 " style="height: 20px;">
                  <div class="progress-bar " role="progressbar" style="width: 50%; background-color:#61DB;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Express 50%</div>
                </div>
                <div class="progress mb-3 " style="height: 20px;">
                  <div class="progress-bar " role="progressbar" style="width: 50%; background-color:#3FA037;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">MongoDB 50%</div>
                </div>
              </div>
              </div>
             
            <div class="col-lg-6 my-2 text-center">
              <img src="img/work3.jpg" class="img-fluid rounded mt-5 " data-aos="fade-left" width="450" alt="">
            </div>
          </div>
        </div>
      </section>
      <!-----------------------------------skill--------------------------------->


    {{>footer}}

    <!--------javascript link---------->
    <script src="index.js"></script>


    <!---------------------------------------- bootstrap link------------------------------------>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
<!-----------------------------------animation link------------------------------------>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      offset:100,
      duration:1000
    });
  </script>
</body>
</html>