   <footer>
      <div class="container-fluid footer-top">
          <div class="row">
              <div class="col-md-6 col-lg-3 div-1 mb-5">
                  <h4 class="h4">Kido's world</h4>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam et ducimus sapiente praesentium obcaecati voluptatum quos, provident pariatur, accusantium minus quod tempore dolorum corrupti. Sit unde vitae quibusdam earum voluptatem!</p>
              </div>
              <div class="col-md-6 col-lg-3 div-2 mb-5">
                  <h4>useful link</h4>
                  <ul>
                      <li><a href="/about">About</a></li>
                      <li> <a href="/skill">Skill</a></li>
                      <li> <a href="/work">Work</a></li>
                      <li> <a href="/contact">Contact</a></li>
                      
                  </ul>

              </div>
              <div class="col-md-6 col-lg-3 div-3 mb-5">
                  <h4>follow us</h4>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, assumenda. Lorem ipsum dolor sit amet consectetur adipisicing. </p>
                  <a href="https://www.facebook.com/profile.php?id=100009819450048" target="blank"><i class="fa fa-2x fa-facebook"></i></a>
                  <a href="http://instagram.com/a_y_n_u_l?utm_source=qr" target="blank"><i class="fa fa-2x fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-2x fa-pinterest"></i></a>
              </div>
              <div class="col-md-6 col-lg-3 div-4 mb-5">
                  <h4>our newsletter</h4>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint rerum nam maiores aut, quisquam ducimus.</p>
                  <form action="">
                  <input type="email">
                  <input type="submit" value="subscribe">
              </form>
              </div>
          </div>
      </div>
      <p class="footer-bottom-text"> All Right reserved by &copy; Kido'sWorld.2021 </p>
  </footer>