  <!---------------navbar----------------->
        <nav class="navbar navbar-expand-lg main-navigation navbar-light bg-wh fixed-top">
          <div class="container-fluid">
           
            <a class="navbar-brand order-2 order-lg-1 mr-auto mr-lg-3 ml-3 ml-lg-0" href="/"><span>Kido'sWorld</span></a>
            <button class="navbar-toggler ico" type="button">
              <span class="navbar-toggler-icon ico"></span>
            </button>
            <!------overlay------>
            <div class="overlay d-flex d-lg-none">

            </div>
             <!------overlay------>
            <div class=" bg-wh d-lg-flex w-100 pd-3 p-lg-0 sidebar" id="navbarSupportedContent">
              <ul class="navbar-nav ml-lg-auto mb-2 mb-lg-0 nav-bar">
                <li class="nav-item">
                  <a class="nav-link px-3 px-lg-2 active nav-itm" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-3 px-lg-2  nav-itm" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-3 px-lg-2 nav-itm" href="/skill">Skills</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-3 px-lg-2 nav-itm" href="/work">Work</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-3 px-lg-2 nav-itm" href="/contact">Contact</a>
                </li>
                    <li class="nav-item">
                           <img class="nav-link" src="img/moon.png" id="moon" width="40" alt="">
                    </li>                
                </ul>
              
            </div>
          </div>
        </nav>